body {
    background-color: cyan;
}

h1 {
    color:aquamarine;
    background-color: cornsilk;
}

#show_sketch {
    float: right;
}

p {
    padding-top: 10px;
    font-size: 25px;
}

#timer {
    margin-left: 1450px;
}

#score {
    margin-right: 1450px;
}

#Draw {
    color: red;
}

canvas{
    border: 2px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 150px;
    animation-iteration-count: infinite;
}

@keyframes example {
     from{box-shadow: 1px 1px 38px red;}
     to{box-shadow: 1px 1px 38px darkcyan;}
}